<div class="wrapper pt-60 pb-40">
    <div class="row d-flex justify-content-center align-items-center footer-content h-40" style="column-gap: 20px">
        <a class="color-dark font-size-14" href="{{site.data.general_settings.terms_conditions_link}}"><span>Terms & Conditions </span></a>
        <a class="color-dark font-size-14"
           href="{{site.data.general_settings.privacy_link}}"><span>Privacy Policy  </span></a>
        <span class="color-dark font-size-14">Copyright © 2024 Flexcompute, Inc. </span>
    </div>
</div>
